[Unit]
Description=AstroImmutable first boot setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/astroimmutable/firstboot-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
